@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Oswald:wght@200;400&display=swap');
/* -------------------------Geral--------------------------- */
html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding:0;
  font-family: 'Oswald',   sans-serif;
}
html body {
    background: #397FD0;
}
p{
    font-family: 'Oswald',   sans-serif;
    font-size: 18px;
}
/* ------------x-------------Geral---------------x--------- */
h1.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  color: #FFFFFF;
}
/*---Caixa geral branca----*/
div.divUser {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(250, 250, 250, 0.795);
  align-items: center;
  box-shadow: inset 10px 10px 10px rgba(33, 56, 59, 0.658);
  border-radius: 20px;
  margin: 10px auto;
  padding: 20px 0;
  width: 50%;
}
/*Modificação da altura da caixa*/

#meio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 240px;
  
}
/*----------Config data de nascimento ------------*/
#inputs {
    display: flex;
    flex-direction: column;
  }
  
  #inputData {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    padding: 10px;
  }
  
  #labelData {
    flex-direction: row;
    margin-right: 1rem;
  }
  
  #dataNascimento {
    border-radius: 5px;
    box-shadow: 0px 0px 30px 0.1px rgba(92, 80, 80, 0.836);
  }
/*-----x-----Config data de nascimento ------x------*/
/*----------Config Sexo ------------*/

#inputSexo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #labelSexo {
    margin-right: 2rem;
    font-size: 17px;
  }
  
  div div label {
    font-size: 18px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px;
    margin: 0 auto;
  }
/*----x------Config Sexo ------x------*/
  
/*-----------Config Resposta -------------*/
#resultado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}
/*----x------Config Resposta ------x------*/


.imagem{
    font: normal 20pt Arial;
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    border-radius: 50%;
    margin-top: 30px;
    object-fit: cover;
    /* background-color: aqua; */
}

/*----------- Configurando o Botão---------------  */
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

#btn{
  display: flex;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Reggae One', cursive;
  padding: 5px;
  margin:20px auto 0;
  background: linear-gradient(to left ,#387fd0 , #d3E1F1 60%);
  border-radius: 20px;
  border: 0.2px solid #387fd0;
}
#btn:hover{
animation:rotate-vert-center .5s cubic-bezier(.455,.03,.515,.955) both
}
@keyframes rotate-vert-center{0%{transform:rotateY(0)}100%{transform:rotateY(360deg)}}

/*-----X------ Configurando o Botão------X--------  */


/* --------------Configuração do copy -----------------*/
body footer p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Oswald';
    color: #FFFFFF;
}
/* ------X--------Configuração do copy ----------X-------*/
