@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Oswald:wght@200;400&display=swap');
/* -------------------------Geral--------------------------- */
html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding:0;
  font-family: 'Oswald',   sans-serif;
}
html body {
    background: #397FD0;
}
p{
    font-family: 'Oswald',   sans-serif;
    font-size: 18px;
}
/* ------------x-------------Geral---------------x--------- */
h1.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  color: #FFFFFF;
}

div.divUser {
  display: flex;
  flex-direction: column;
  height: 60%;
  background: rgba(250, 250, 250, 0.795);
  justify-content: center;
  align-items: center;
  box-shadow: inset 10px 10px 10px rgba(33, 56, 59, 0.658);
  border-radius: 20px;
  margin: 10px auto;
  padding: 20px 0;
  width: 50%;
}
/*----------Config data de nascimento ------------*/
#inputs {
    display: flex;
    flex-direction: column;
  }
  
  #inputData {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    padding: 10px;
  }
  
  
  
  #labelData {
    flex-direction: row;
    margin-right: 1rem;
  }
  
  #dataNascimento {
    border-radius: 5px;
    box-shadow: 0px 0px 30px 0.1px rgba(92, 80, 80, 0.836);
  }
/*-----x-----Config data de nascimento ------x------*/
/*----------Config Sexo ------------*/

#inputSexo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #labelSexo {
    margin-right: 2rem;
    font-size: 17px;
  }
  
  div div label {
    font-size: 18px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px;
    margin: 0 auto;
  }
/*----x------Config Sexo ------x------*/
  
  

.imagem{
    font: normal 20pt Arial;
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    border-radius: 50%;
    margin-top: 30px;
    background-color: aqua;
}
body footer p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Oswald';
    color: #FFFFFF;
}